@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-Regular.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-Medium.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-SemiBold.otf")
        format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Moderustic";
    src: url("/assets/fonts/Moderustic/Moderustic-ExtraBold.otf")
        format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// Layout and grids
$content-width: 1170px;

// Fonts and sizes
$font: "Moderustic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
$font-title: "Moderustic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
$font-weight: 500;
$primary-text-color: #000000;

html {
    font-size: 62.5%;
    font-family: $font;
    font-weight: $font-weight;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font;
    font-size: 2rem;
    background-color: $body-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.subPageBody {
    background-color: #fff;
}

.appName {
    font-family: $font-title;
    font-weight: 700;
    font-size: 5rem;
}

.headerName {
    font-family: $font-title;
    font-weight: 600;
    font-size: 3rem;
}

.featureTitle {
    font-family: $font-title;
    font-weight: 500;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

a:link,
a:hover,
a:visited,
a:active {
    color: $accent-color;
    text-decoration: none;
}

// Shadows
// $drop-shadow: drop-shadow(0px 5px 10px rgba(#000, 0.1))
//     drop-shadow(0px 1px 1px rgba(#000, 0.2));
// $drop-shadow: drop-shadow(0px 5px 15px rgba(#000, 0.1))
//     drop-shadow(0px 1px 3px rgba(#000, 0.4));
$drop-shadow: 0 0 0 2px black,
    /* This creates the black border */ 0px 5px 15px rgba(#000, 0.1),
    0px 1px 3px rgba(#000, 0.4);

$app-icon-border: 3px solid #191919;

// Various resets
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
